Repository dsgnr/corvin: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  # Backend: Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/.*\.py$
      - id: ruff-format
        files: ^backend/.*\.py$

  # Frontend: ESLint and Prettier
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-commit]

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        stages: [pre-commit]

      - id: typescript
        name: typescript
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        stages: [pre-commit]

      - id: pytest
        name: pytest
        entry: bash -c 'cd backend && uv run pytest'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-commit]

feat: add support for was_live label
  backend/app/services/ytdlp_service.py
  frontend/src/components/VideoLabels.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

chore: add pyright checking
  .github/workflows/backend-lint.yml
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: add more pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: add documentation links to yt-dlp github for output formats
  frontend/src/app/profiles/page.tsx
  frontend/src/app/settings/page.tsx
Due: eslint, prettier, typescript

feat: add functionality to blacklist videos by regex
  backend/app/models/video.py
  backend/app/models/video_list.py
  backend/app/routes/lists.py
  backend/app/routes/videos.py
  backend/app/schemas/lists.py
  backend/app/schemas/videos.py
  backend/app/tasks.py
  backend/tests/test_blacklist.py
  backend/tests/test_videos.py
  frontend/src/app/lists/[id]/page.tsx
  frontend/src/app/videos/[id]/page.tsx
  frontend/src/components/ListForm.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

feat: create functionality to create download schedules
  backend/app/__init__.py
  backend/app/models/__init__.py
  backend/app/models/download_schedule.py
  backend/app/routes/schedules.py
  backend/app/routes/tasks.py
  backend/app/schemas/schedules.py
  backend/app/schemas/tasks.py
  backend/app/tasks.py
  backend/tests/test_schedules.py
  frontend/src/app/settings/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

fix: fix issue where mac file renaming to titlecase didnt inform git (mac is case insensitive)
  frontend/src/components/Sidebar.tsx
Due: eslint, prettier, typescript

ci: fix backend tests not installing dev dependencies
  .github/workflows/backend-lint.yml
  .github/workflows/backend-test.yml
Due: none

fix: fix issue where multiple uvicorn workers would multiple the worker count
  backend/run.py
Due: pytest

feat: add bulk add list method
  backend/app/routes/lists.py
  backend/app/schemas/lists.py
  backend/tests/test_lists.py
  frontend/src/app/lists/page.tsx
  frontend/src/components/BulkListForm.tsx
  frontend/src/components/ToggleOption.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

fix: fixes download button reactivity. adds video labels in list view and download history logging
  backend/app/routes/lists.py
  backend/app/schemas/lists.py
  backend/app/tasks.py
  frontend/src/app/videos/[id]/page.tsx
Due: eslint, prettier, typescript, pytest

fix: fix an issue where the list deletion would fail
  backend/app/routes/lists.py
Due: pytest

feat: allow re-fetching list images and nfo on sync, if they're missing
  backend/app/routes/lists.py
  backend/app/services/ytdlp_service.py
  backend/app/tasks.py
Due: pytest

chore: cleanup the yt-dlp opts
  backend/app/services/ytdlp_service.py
Due: pytest

fix: add the local .venv to dockerignore so we dont keep destroying our local env on dev compose up
  backend/.dockerignore
Due: none

fix: fix an issue where the defined name would override the discovered list name in some cases
  backend/app/models/video_list.py
  backend/app/routes/lists.py
  backend/app/schemas/lists.py
  backend/app/services/ytdlp_service.py
  backend/app/tasks.py
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

refactor: major ui cleanups and improvements for mobile
  frontend/src/app/globals.css
  frontend/src/app/history/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/lists/[id]/page.tsx
  frontend/src/app/lists/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profiles/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/app/videos/[id]/page.tsx
  frontend/src/components/ListForm.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript

feat: allow ignoring of live streams
  backend/app/models/profile.py
  backend/app/routes/profiles.py
  backend/app/schemas/profiles.py
  backend/app/services/ytdlp_service.py
  backend/app/tasks.py
  backend/scripts/populate_db.py
  backend/tests/test_models.py
  backend/tests/test_profiles.py
  backend/tests/test_services_ytdlp.py
  backend/tests/test_task_execution.py
  frontend/src/app/profiles/page.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

test: improve test coverage and fix bugs found
  backend/app/services/ytdlp_service.py
  backend/app/task_queue.py
  backend/app/tasks.py
  backend/tests/conftest.py
  backend/tests/test_blacklist.py
  backend/tests/test_models.py
  backend/tests/test_schedules.py
  backend/tests/test_services_ytdlp.py
  backend/tests/test_task_execution.py
  backend/tests/test_task_functions.py
  backend/tests/test_task_queue.py
  backend/tests/test_tasks_execution.py
Due: pytest

chore: make the default output template a variable
  backend/app/models/profile.py
  backend/app/routes/profiles.py
  backend/app/schemas/profiles.py
Due: pytest

fix: fix an issue where the stream would fail to load on some browsers
  backend/app/__init__.py
  backend/app/sse_stream.py
  backend/tests/test_sse_stream.py
Due: pytest

fix: fix an issue where the tasks api would fail on response schema
  backend/app/routes/tasks.py
  backend/app/schemas/tasks.py
Due: pytest

feat: add better ui form validations
  frontend/src/app/profiles/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/BulkListForm.tsx
  frontend/src/components/FormField.tsx
  frontend/src/components/ListForm.tsx
  frontend/src/lib/useEventSource.ts
  frontend/src/lib/useFormValidation.ts
  frontend/src/lib/validation.ts
Due: eslint, prettier, typescript

fix: correct indentation for the nfo files
  backend/app/services/ytdlp_service.py
Due: pytest

fix: update yt-dlp options to download the best video and audio
  backend/app/services/ytdlp_service.py
Due: pytest

feat: add more control of profile options (resolution, video/audio codec etc)
  backend/app/core/constants.py
  backend/app/models/profile.py
  backend/app/routes/profiles.py
  backend/app/schemas/profiles.py
  backend/app/services/ytdlp_service.py
  backend/tests/test_models.py
  backend/tests/test_profiles.py
  frontend/src/app/profiles/page.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

chore: organise app constants
  backend/app/core/constants.py
  backend/app/core/validators.py
  backend/app/models/__init__.py
  backend/app/models/profile.py
  backend/app/routes/profiles.py
  backend/app/schemas/profiles.py
Due: pytest

perf: add pytest-xdist to speed up tests
  backend/pyproject.toml
  backend/uv.lock
Due: none

docs: add funding
  .github/FUNDING.yml
Due: none

fix: fixes an issue where the bulk list endpoint was failing due to no name
  backend/app/routes/lists.py
  backend/tests/test_lists.py
Due: pytest

docs: update missing features from readme
  README.md
Due: none

feat: make dev use caddy for consistency between environments
  docker-compose-dev.yml
  frontend/Dockerfile.dev
Due: none

feat: create notification system
  README.md
  backend/app/__init__.py
  backend/app/routes/lists.py
  backend/app/routes/notifications.py
  backend/app/routes/tasks.py
  backend/app/routes/videos.py
  backend/app/schemas/notifications.py
  backend/app/services/history_service.py
  backend/app/services/notifications/__init__.py
  backend/app/services/notifications/discord.py
  backend/app/services/notifications/gotify.py
  backend/app/services/notifications/jellyfin.py
  backend/app/services/notifications/notifier.py
  backend/app/services/notifications/ntfy.py
  backend/app/services/notifications/plex.py
  backend/app/services/notifications/registry.py
  backend/app/services/notifications/service.py
  backend/app/services/notifications/slack.py
  backend/app/services/progress_service.py
  backend/app/sse_hub.py
  backend/app/task_queue.py
  backend/app/tasks.py
  backend/tests/test_notifications.py
  backend/tests/test_sse_hub.py
  backend/tests/test_task_queue.py
  backend/tests/test_tasks_execution.py
  frontend/src/app/settings/page.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

fix: change default video container to mp4 since some media servers do not parse embedded metadata in mkvs
  backend/app/models/profile.py
  backend/app/routes/profiles.py
  backend/app/schemas/profiles.py
  backend/tests/test_models.py
  backend/tests/test_profiles.py
  frontend/src/app/profiles/page.tsx
Due: eslint, prettier, typescript, pytest

fix: fixes an issue where sponsorblock chapters were not being rendered correctly in the final file
  backend/app/models/profile.py
Due: pytest

fix: fixes an issue where the metadata wouldn't be embedded if sponsorblock was set
  backend/app/models/profile.py
Due: pytest

fix: make the sidebar heading link back to home
  frontend/src/components/Sidebar.tsx
Due: eslint, prettier, typescript

feat: allow minimum and maximum video duration blacklisting
  backend/app/models/video_list.py
  backend/app/routes/lists.py
  backend/app/schemas/lists.py
  backend/app/tasks.py
  backend/tests/test_blacklist.py
  frontend/src/app/lists/[id]/page.tsx
  frontend/src/app/videos/[id]/page.tsx
  frontend/src/components/ListForm.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

feat: immediately queue the video on discovery
  backend/app/tasks.py
Due: pytest

feat: expose extra_args to the ui
  backend/app/core/validators.py
  backend/app/models/profile.py
  backend/app/routes/profiles.py
  backend/app/schemas/profiles.py
  backend/tests/test_profiles.py
  frontend/src/app/profiles/page.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest
