Repository dsgnr/corvin: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  # Backend: Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/.*\.py$
      - id: ruff-format
        files: ^backend/.*\.py$

  # Frontend: ESLint and Prettier
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-commit]

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        stages: [pre-commit]

      - id: typescript
        name: typescript
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        stages: [pre-commit]

      - id: pytest
        name: pytest
        entry: bash -c 'cd backend && uv run pytest'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-commit]

fix: return the 404 to the user instead of creating the db entry
  backend/app/routes/lists.py
Due: pytest

chore: change the venv dir on dev to stop it causing problems with fastapi live reload (uv would need dev deps installing again)
  backend/Dockerfile.dev
Due: none

chore: make ui form validation more subtle
  frontend/src/app/profiles/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/BulkListForm.tsx
  frontend/src/components/FormField.tsx
  frontend/src/components/ListForm.tsx
Due: eslint, prettier, typescript

feat: add the github link to the sidebar
  frontend/src/components/Sidebar.tsx
Due: eslint, prettier, typescript

feat: add support for windows and restricted filenames
  README.md
  backend/app/models/profile.py
  backend/app/routes/profiles.py
  backend/app/schemas/profiles.py
  backend/tests/test_profiles.py
  frontend/src/app/profiles/page.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

feat: add support for postgres backend
  README.md
  backend/app/extensions.py
  backend/app/metrics.py
  backend/app/models/history.py
  backend/app/models/video.py
  backend/app/routes/history.py
  backend/app/routes/lists.py
  backend/app/schemas/videos.py
  backend/app/tasks.py
  backend/migrations/env.py
  backend/pyproject.toml
  backend/tests/test_extensions.py
  backend/tests/test_history.py
  backend/tests/test_videos.py
  backend/uv.lock
  docker-compose-postgres-dev.yml
  docker-compose-postgres.yml
Due: pytest

fix: fixes an issue where yt-dlp wasn't raising exceptions due to ignoreerrors=true. also adds some more download checks
  backend/app/services/ytdlp_service.py
  backend/tests/test_services_ytdlp.py
Due: pytest

fix: fixes an issue where notifications would not fire when we discover new videos
  backend/app/tasks.py
Due: pytest

fix: improve the way task retries are handled and presented to the ui
  backend/app/routes/videos.py
  backend/app/services/__init__.py
  backend/app/services/progress_service.py
  backend/app/services/ytdlp_service.py
  backend/app/task_queue.py
  backend/app/tasks.py
  backend/tests/test_progress_service.py
  backend/tests/test_services_ytdlp.py
  backend/tests/test_tasks_execution.py
  frontend/src/app/lists/[id]/page.tsx
  frontend/src/app/videos/[id]/page.tsx
  frontend/src/components/DownloadProgress.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

feat: add a task table to the individual video view, and make the description collapsible
  backend/app/routes/videos.py
  frontend/src/app/videos/[id]/page.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

fix: proxy the metrics endpoint through caddy as well
  frontend/Caddyfile
Due: none

feat: add data retention setting and vacuum option
  README.md
  backend/app/__init__.py
  backend/app/models/settings.py
  backend/app/routes/settings.py
  backend/app/schemas/settings.py
  backend/app/tasks.py
  backend/tests/test_data_retention.py
  backend/tests/test_settings.py
  frontend/src/app/globals.css
  frontend/src/app/settings/page.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

feat: schedule automatic nightly updates to yt-dlp and add it to the ui
  README.md
  backend/app/__init__.py
  backend/app/routes/settings.py
  backend/app/schemas/settings.py
  backend/app/tasks.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/app/settings/page.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

refactor: various ui styling improvements and breaking out to components
  frontend/src/app/globals.css
  frontend/src/app/lists/[id]/page.tsx
  frontend/src/app/lists/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profiles/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/app/videos/[id]/page.tsx
  frontend/src/components/BlacklistedBadge.tsx
  frontend/src/components/EmptyState.tsx
  frontend/src/components/FormField.tsx
  frontend/src/components/ListForm.tsx
  frontend/src/components/MediaTypeBadge.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ToggleOption.tsx
  frontend/src/components/VideoLabels.tsx
  frontend/src/components/VideoThumbnail.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript

fix: fixes an issue where the format_sort was breaking the precedence of audio codecs (and probably other things)
  backend/app/models/profile.py
  backend/tests/test_models.py
  backend/tests/test_profiles.py
Due: pytest

fix: fixes an issue where the video filesize wasn't reliable
  backend/app/routes/lists.py
  backend/app/services/ytdlp_service.py
  backend/app/tasks.py
  backend/tests/test_services_ytdlp.py
Due: pytest

fix: add missing fields on the bulk list creation form. migrates to a component
  backend/app/routes/lists.py
  backend/app/schemas/lists.py
  backend/tests/test_lists.py
  frontend/src/components/BulkListForm.tsx
  frontend/src/components/ListForm.tsx
  frontend/src/components/ListOptionsFields.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript, pytest

feat: add stop event to metadata fetching threads if the upload_date is older than the from_date
  backend/app/services/ytdlp_service.py
  backend/tests/test_services_ytdlp.py
Due: pytest

fix: minor ui tweaks for mobile
  frontend/src/app/globals.css
  frontend/src/app/history/page.tsx
  frontend/src/app/lists/[id]/page.tsx
  frontend/src/app/lists/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/app/videos/[id]/page.tsx
Due: eslint, prettier, typescript

feat: allow the option to disable WAL mode
  README.md
  backend/app/extensions.py
  backend/tests/test_extensions.py
  docker-compose-dev.yml
  docker-compose.yml
Due: pytest

feat: add a sleep before we retry a failing task
  backend/app/task_queue.py
  backend/tests/test_task_queue.py
Due: pytest

refactor: remove duplication in video schemas
  backend/app/schemas/videos.py
Due: pytest

refactor: remove unused _get_list_stats function
  backend/app/routes/lists.py
Due: pytest

refactor: move pagination calculation to helper function
  backend/app/core/helpers.py
  backend/app/routes/history.py
  backend/app/routes/lists.py
  backend/app/routes/tasks.py
  backend/app/routes/videos.py
  backend/tests/test_core_helpers.py
Due: pytest

refactor: remove duplicate TasksPaginatedResponse
  backend/app/routes/lists.py
  backend/app/schemas/lists.py
Due: pytest

refactor: move blacklist checking into helpers
  backend/app/core/helpers.py
  backend/app/routes/lists.py
  backend/app/tasks.py
  backend/tests/test_core_helpers.py
Due: pytest

fix: fixes an issue where Integer filesize column would be too small
  backend/app/models/video.py
Due: pytest

fix: fixes an issue where the originally available date is wrong in plex
  backend/app/models/profile.py
  backend/tests/test_profiles.py
Due: pytest

feat: add vcodec to labels
  backend/app/services/ytdlp_service.py
Due: pytest

chore: improve logic for audio/video profiles
  backend/app/models/profile.py
  backend/tests/test_models.py
  backend/tests/test_profiles.py
  frontend/src/app/profiles/page.tsx
Due: eslint, prettier, typescript, pytest

fix: fix an issue where queued items would show created_at instead of started_at times
  frontend/src/app/tasks/page.tsx
Due: eslint, prettier, typescript

chore: add conventional commit pre-commit hook
  .pre-commit-config.yaml
Due: none

ci: update docker to build on pushes to main
  .github/workflows/docker-build.yml
Due: none

chore: make other pipelines run on main push
  .github/workflows/backend-lint.yml
  .github/workflows/frontend-lint.yml
Due: none

docs: update the description for the BACKEND_URL env var
  README.md
Due: none
